<nav class="navbar navbar-expand-sm navbar-light bg-white">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav flex-grow-1 justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-dark" href="#main" data-i18n="nav_main_message">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#service" data-i18n="nav_service_message">Услуги</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#price" data-i18n="nav_price_message">Цены</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#contact" data-i18n="nav_contacts_message">Контакты</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link text-dark dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-i18n="nav_language_message">Язык</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="text-dark dropdown-item" href="#" onclick="changeLanguage('ru')">RU</a>
                    <a class="text-dark dropdown-item" href="#" onclick="changeLanguage('lv')">LV</a>
                    <a class="text-dark dropdown-item" href="#" onclick="changeLanguage('en')">ENG</a>
                </div>
            </li>
        </ul>
    </div>
</nav>