<div class="jumbotron jumbotron-fluid bg-opacity-25" style="background-image:url(https://i.redd.it/hnc89k27yut21.jpg); padding:6em;background-size: 100% 100%;">
    <div id="main">
        <h1 class="text-white" data-i18n="content_jumbotron_header">Транспортировка</h1>
        <p class="lead text-white" data-i18n="content_jumbotron_text">Предоставляем услуги автоэвакуации</p>
    </div>
</div>
<div class="row gy-3 mt-4 mb-4" id="service">
    <h3 class="text-center" data-i18n="services_header_message">Мы предлагаем следующие услуги</h3>
    <div class="col-sm">
        <ul>
            <li data-i18n="services_text1">Транспортировка и эвакуация авто в пункт назначения</li>
            <li data-i18n="services_text2">Транспортировка мотоциклов</li>
            <li data-i18n="services_text3">Транспортировка джипов</li>
            <li data-i18n="services_text4">Транспортировка автомобилей с блокированными колёсами</li>
        </ul>
    </div>
    <div class="col-sm">
        <ul>
            <li data-i18n="services_text5">Транспортировка авто и мото транспорта в пункты CSDD</li>
            <li data-i18n="services_text6">Перевозка нестандартных грузов (по мере возможности загрузки на платформу)</li>
            <li data-i18n="services_text7">Доставка транспортного средства в автосервис</li>
            <li data-i18n="services_text8">Зарядка аккумулятора и запуск автомобиля</li>
        </ul>
    </div>
</div>
<div class="row gy-3 mb-5" id="price">
    <div class="col-sm text-center">
        <h3 data-i18n="price_header1">В Риге</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" data-i18n="price_table_header_service">Услуга</th>
                    <th scope="col" data-i18n="price_table_header_price">Цена</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td data-i18n="price_table_content">Авто до 2500кг</td>
                    <td>75 евро</td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td data-i18n="price_table_content1">Мотоцикл</td>
                    <td>40 евро</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm text-center">
        <h3 data-i18n="price_header2">За Ригой</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" data-i18n="price_table_header_service">Услуга</th>
                    <th scope="col" data-i18n="price_table_header_price">Цена</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td data-i18n="price_table_content">Авто до 2500кг</td>
                    <td>50 евро</td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td data-i18n="price_table_content1">Мотоцикл</td>
                    <td>20 евро</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container gy-3 mb-5" id="contact">
    <div class="row justify-content-md-center">
        <h2 class="text-center mb-3" data-i18n="contact_header">Контакты</h2>
        <div class="col col-lg-2 text-center">
            <a href="https://www.facebook.com/maksimskishkurno"><img src="/img/facebook.png" alt="facebook" class="rounded" style="width:42px;height:42px;"></a>
            <p>Facebook</p>
        </div>
        <div class="col col-lg-2 text-center">
            <a href="https://t.me/+37120023330"><img src="/img/telegram.png" alt="telegram" class="rounded" style="width:42px;height:42px;"></a>
            <p>Telegram</p>
        </div>
        <div class="col col-lg-2 text-center">
            <a href="tel:+37120023330"><img src="/img/user.png" alt="mob" class="rounded" style="width:42px;height:42px;"></a>
            <p>Mobile phone</p>
        </div>
        <div class="col col-lg-2 text-center">
            <a href="https://api.whatsapp.com/send?phone=+3712920023330"><img src="/img/whatsapp.png" alt="whatsapp" class="rounded" style="width:42px;height:42px;"></a>
            <p>Whatsapp</p>
        </div>
    </div>
</div>